h1 {
	  color: white;
	  margin-top: 20px;
}

h2 {
	  padding: 50px 180px;
}

.table {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#999;
    border:none;
    margin: 0px auto;
    text-align:center;
}

.table td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:0px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#444;
    background-color:#F7FDFA;
}

.table th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:0px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#fff;
    background-color:#26ADE4;
}

.table .exercicio {
    font-weight:bold;
    font-size:100%;
    vertical-align:top
}

.table .tg-lpd3 {
    background-color:#9a0000;
    color:#ffffff;
    vertical-align:top
}

.table .tg-9xhi {
    background-color:#6434fc;
    color:#ffffff;
    vertical-align:top
}

.table .tg-v4ss {
    background-color:#D2E4FC;
    font-weight:bold;
    vertical-align:top
}

.table .tg-f8tx {
    color:#000000;
    vertical-align:top
}

.table .tg-amwm {
    font-weight:bold;
    vertical-align:top
}

.table .tg-8gll {
    font-weight:bold;
    background-color:#32cb00;
    vertical-align:top
}

.table .tg-9hbo {
    font-weight:bold;
    vertical-align:top
}

.table .tg-at8r {
    background-color:#D2E4FC;
    color:#000000;
    vertical-align:top
}

.table .tg-h7od {
    background-color:#cb0000;
    color:#ffffff;
    vertical-align:top
}

.table .tg-l4n7 {
    background-color:#6200c9;
    color:#ffffff;
    vertical-align:top
}
